html, body, button{
  font-family: "Courier";
  cursor: none;
}
a:hover{
  cursor: none;
}
input:hover{
  cursor: none;
}
textarea:hover{
  cursor: none;
}
button:hover{
  cursor: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.bm-cross {
  background: white;
}
